{% extends "main.html" %}
{% block title %}Micro_x{% endblock %}
{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Include jQuery and the Connections plugin -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
{% block content %}
<head>
<style>
.item1 { grid-area: iotapp; }
.item2 { grid-area: wsserver; }
.item3 { grid-area: servicemap; }
.item4 { grid-area: virtuoso; }
.item5 { grid-area: kafka; }
.item6 { grid-area: iotbroker; }
.item7 { grid-area: zookeeper; }
.item8 { grid-area: backend; }
.item9 { grid-area: synoptics; }
.item10 { grid-area: mongo; }
.item11 { grid-area: database; }
.item12 { grid-area: personaldata; }
.item13 { grid-area: proxy;
          background: red !important;
          border: solid purple 5px;}
.item14 { grid-area: dashboard; }
.item15 { grid-area: nifi; }
.item16 { grid-area: kibana; }
.item17 { grid-area: ldapserver; }
.item18 { grid-area: dashboardcron; }
.item19 { grid-area: elastic; }
.item20 { grid-area: keycloak; }
.item21 { grid-area: myldap; }
.item22 { grid-area: orion-filter;}
.item23 { grid-area: iotapp-2;}
.item_user {grid-area: user}
connection {
    border: 4px solid black;
    border-radius: 1px;
    z-index: 5;
  }
div.item22:hover + div.tooltip_cp {
  display: block;
}
div.tooltip_cp {
  background-color: beige;
  padding: 10px;
  display: none;
  border: solid black 1px;
  z-index: 10;
}
.has-proxy {
  border: solid red 2px;
}
.grid-container {
  width: -webkit-fill-available;
  display: grid;
  grid-template-areas:
    '. . virtuoso servicemap proxy dashboardcron'
    'kafka zookeeper . backend proxy dashboard'
    '. . . wsserver proxy .'
    '. . iotapp-2 iotapp proxy user'
    '. mongo iotbroker orion-filter proxy synoptics'
    '. nifi elastic kibana proxy personaldata'
    'ldapserver ldapserver myldap keycloak proxy database';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  z-index: -1;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 5px 5px 5px;
  font-size: 30px;
  border-radius: 10px;
}
.tooltip_cp {
  background: #f9f9f9;
  color: black;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 7px;
  display: none;
  opacity: 0.98;
}

.tooltip_cp[data-show] {
  display: block;
}
</style>
</head>
<body>

<div class="grid-container">
  <div class="component item1 has-proxy" id="item1">IoT App 1</div>
  <div class="component item2 has-proxy" id="item2">WSServer</div>
  <div class="component item3 has-proxy">ServiceMap</div>
  <div class="component item4">Virtuoso</div>
  <div class="component item5">Kafka</div>
  <div class="component item6">IoT Broker</div>
  <div class="component item7">Zookeeper</div>
  <div class="component item8">Dashboard Backend</div>
  <div class="component item9">Synoptics</div>
  <div class="component item10">Mongo</div>
  <div class="component item11">Database</div>
  <div class="component item12 has-proxy">Personaldata</div>
  <div class="component item13">Proxy</div>
  <div class="component item14 has-proxy">Dashboard Frontend</div>
  <div class="component item15">Nifi</div>
  <div class="component item16 has-proxy">Opensearch Dashboard</div>
  <div class="component item17">LDAP Server</div>
  <div class="component item18">Dashboardcron</div>
  <div class="component item19">Opensearch</div>
  <div class="component item20 has-proxy">Keycloak</div>
  <div class="component item21">MyLDAP</div>
  <div class="component item22">Orion Filter</div>
  <div class="component item_user">User</div>
  <div class="component item23 has-proxy" id="item23">IoT App 2</div>
</div>
<div>
  <div id="tooltip 1" role="tooltip" class="tooltip_cp"><b>IoT-App 1</b><br>
  <b>1880:1880</b></div>
  <div id="tooltip 2" role="tooltip" class="tooltip_cp"><b>WSserver</b><br>
  <b>9000:9000</b></div>
  <div id="tooltip 3" role="tooltip" class="tooltip_cp"><b>ServiceMap<br>
  8090:8080</b></div>
  <div id="tooltip 4" role="tooltip" class="tooltip_cp"><b>Virtuoso<br>
  8890:8890<br>
  1111:1111</b></div>
  <div id="tooltip 5" role="tooltip" class="tooltip_cp"><b>Kafka</b><br>
  <b>9092:9092<br>
  9093:9093</b></div>
  <div id="tooltip 6" role="tooltip" class="tooltip_cp"><b>IoT Broker<br>
  1026:1026</b></div>
  <div id="tooltip 7" role="tooltip" class="tooltip_cp"><b>Zookeeper</b><br>
  <b>2181:2181</b></div>
  <div id="tooltip 8" role="tooltip" class="tooltip_cp">Dashboard Backend</div>
  <div id="tooltip 9" role="tooltip" class="tooltip_cp"><b>Synoptics</b>
  <br><b>3000:3000</b>
  <br><b>3001:3001</b></div>
  <div id="tooltip 10" role="tooltip" class="tooltip_cp">
    <b>Mongo</b><br>
    This component naturally communicates only with IoT Broker.<br>
    The default port for accessing Mongo is <b>27019:27019</b>.</div>
  <div id="tooltip 11" role="tooltip" class="tooltip_cp">
    <b>Database</b><br>
    This component runs a MySQL service. Many components require setting up by pulling data from the database.<br>
    The default port for accessing Database is <b>3306:3306</b>.
  </div>
  <div id="tooltip 12" role="tooltip" class="tooltip_cp">
    <b>Personaldata</b><br>
    <b>8080:8080</b></div>
  <div id="tooltip 13" role="tooltip" class="tooltip_cp">Proxy</div>
  <div id="tooltip 14" role="tooltip" class="tooltip_cp">Dashboard Frontend</div>
  <div id="tooltip 15" role="tooltip" class="tooltip_cp"><b>Nifi<br>
  9090:9090</b></div>
  <div id="tooltip 16" role="tooltip" class="tooltip_cp"><b>Opensearch Dashboard<br>
  5601:5601</b></div>
  <div id="tooltip 17" role="tooltip" class="tooltip_cp"><b>LDAP Server<br>
  389:389<br>
  636:636</b></div>
  <div id="tooltip 18" role="tooltip" class="tooltip_cp">Dashboardcron</div>
  <div id="tooltip 19" role="tooltip" class="tooltip_cp"><b>Opensearch<br>
  9200:9200</b></div>
  <div id="tooltip 20" role="tooltip" class="tooltip_cp">
    <b>Keycloak</b><br>
    Keycloak is in charge of authentication and authorization with credentials.<br>
    It is <b>Proxied</b>.<br>
    The default port for accessing Keycloak is <b>8088:8088</b>
  </div>
  <div id="tooltip 21" role="tooltip" class="tooltip_cp"><b>MyLDAP<br>
  6443:443</b></div>
  <div id="tooltip 22" role="tooltip" class="tooltip_cp"><b>Orion Filter<br>
  8443:8443</b></div>
  <div id="tooltip 23" role="tooltip" class="tooltip_cp">
    <b>User</b><br>
    Not a real component; this element shows where the user is located in the system.
  </div>
  <div id="tooltip 24" role="tooltip" class="tooltip_cp"><b>IoT-App 2</b><br>
  <b>1881:1880</b><br>
  3rd, 4th, 5th (etc.) have the first port increased by one for each previous IoT-App.</div>
</div>
<div>
  <strong>Press Enter to toggle arrows. Tooltips aren't shown with arrows on.</strong>
</div>
    <script>
      const elements = document.querySelectorAll('.component');
      const tooltips = document.querySelectorAll('.tooltip_cp');
      var popperInstances = [];
      for (let i = 0; i<elements.length; i++) {
        popperInstances[i]=Popper.createPopper(elements[i], tooltips[i]);
      }
      console.log('popper done?');
      function show() {
        var i = Array.from(this.parentNode.children).indexOf(this);
        if (window.getComputedStyle(document.getElementById("arrows")).display !== 'none')
         {
           return;
         }
        tooltips[i].setAttribute('data-show', '');

        // We need to tell Popper to update the tooltip position
        // after we show the tooltip, otherwise it will be incorrect
        popperInstances[i].update();
      }

      function hide() {
        var i = Array.from(this.parentNode.children).indexOf(this);
        tooltips[i].removeAttribute('data-show');
      }

      const showEvents = ['mouseenter', 'focus'];
      const hideEvents = ['mouseleave', 'blur'];

      showEvents.forEach((event) => {
        for (let i = 0; i<elements.length; i++) {
          elements[i].addEventListener(event, show);
          tooltips[i].addEventListener(event, show);
        }
      });

      hideEvents.forEach((event) => {
        for (let i = 0; i<elements.length; i++) {
          elements[i].addEventListener(event, hide);
          tooltips[i].addEventListener(event, hide);
        }
      });

    $(document).ready(function() {
      $(document).on('keypress',function(e) {
      if(e.which == 13) {
          $('#arrows').toggle();
      }
  });
    });
    </script>
    <div id='arrows' style="display: block;z-index: 5;position: absolute;top: 60px;left: -15px; transform: translate(200px, 10px);">
      <svg
   width="153.77975mm"
   height="135.21666mm"
   viewBox="0 0 153.77975 135.21666"
   version="1.1"
   id="svg5"
   inkscape:version="1.1 (c68e22c387, 2021-05-23)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="px"
     showgrid="false"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:zoom="5.2410024"
     inkscape:cx="452.48977"
     inkscape:cy="271.22674"
     inkscape:window-width="1366"
     inkscape:window-height="705"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1"
     lock-margins="true"
     fit-margin-top="12.1"
     fit-margin-left="12.1"
     fit-margin-right="12.1"
     fit-margin-bottom="12.1">
    <sodipodi:guide
       position="23.81412,-27.097589"
       orientation="1,0"
       id="guide1546" />
  </sodipodi:namedview>
  <defs
     id="defs2">
    <marker
       style="overflow:visible"
       id="Arrow1Lend"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-9"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-9" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-3"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-1" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-4"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-6" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-6"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-8" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-4-2"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-6-1" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-6-5"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-8-8" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-9-9"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-9-2" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-3-9"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-1-0" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-9-9-8"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-9-2-3" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-3-9-2"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-1-0-0" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-9-9-2"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-9-2-7" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-3-9-9"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-1-0-1" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-9-9-2-4"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-9-2-7-7" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-3-9-9-8"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-1-0-1-9" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-9-9-2-4-4"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-9-2-7-7-5" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-3-9-9-8-8"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-1-0-1-9-7" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-9-9-2-4-4-6"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-9-2-7-7-5-9" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-3-9-9-8-8-2"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-1-0-1-9-7-4" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-4-6"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lstart"
       inkscape:isstock="true">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path951-6-6" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend-6-6"
       refX="0"
       refY="0"
       orient="auto"
       inkscape:stockid="Arrow1Lend"
       inkscape:isstock="true">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path954-8-7" />
    </marker>
  </defs>
  <g
     inkscape:label="Livello 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-38.07846,10.763249)">
    <path
       style="fill:none;stroke:#000000;stroke-width:0.209055px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart);marker-end:url(#Arrow1Lend)"
       d="m 113.45888,92.638479 h 49.88214"
       id="path54" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.209055px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart-9);marker-end:url(#Arrow1Lend-3)"
       d="m 113.45888,111.14381 h 49.88214"
       id="path54-6" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.209055px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart-9-9);marker-end:url(#Arrow1Lend-3-9)"
       d="M 50.584312,111.29178 H 100.46645"
       id="path54-6-7" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.209055px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart-9-9-2);marker-end:url(#Arrow1Lend-3-9-9)"
       d="M 50.584312,93.091289 H 100.46645"
       id="path54-6-7-5" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.209055px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart-9-9-2-4);marker-end:url(#Arrow1Lend-3-9-9-8)"
       d="M 50.584312,74.715349 H 100.46645"
       id="path54-6-7-5-5" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.125845px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart-9-9-2-4-4);marker-end:url(#Arrow1Lend-3-9-9-8-8)"
       d="m 126.99215,53.284959 23.27023,13.58044"
       id="path54-6-7-5-5-6"
       inkscape:transform-center-x="16.407087"
       inkscape:transform-center-y="2.1707838" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.209055px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart-4);marker-end:url(#Arrow1Lend-6)"
       d="m 113.45888,74.990589 h 49.88214"
       id="path54-1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.122916;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:3.6;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#Arrow1Lstart-4-6);marker-end:url(#Arrow1Lend-6-6)"
       d="m 179.31684,55.562189 v 8.62212"
       id="path54-1-5" />
    <path
       style="fill:none;stroke:#000000;stroke-width:0.209055px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;marker-start:url(#Arrow1Lstart-4-2);marker-end:url(#Arrow1Lend-6-5)"
       d="m 113.45888,2.3983831 h 49.88214"
       id="path54-1-9" />
  </g>
</svg>

    </div>
</body>
{%endblock%}

<!--

<script>
      const button = document.querySelector('#item22');
      const tooltip = document.querySelector('#tooltip');

      const popperInstance = Popper.createPopper(button, tooltip);

      function show() {
  tooltip.setAttribute('data-show', '');

  // We need to tell Popper to update the tooltip position
  // after we show the tooltip, otherwise it will be incorrect
  popperInstance.update();
}

function hide() {
  tooltip.removeAttribute('data-show');
}

const showEvents = ['mouseenter', 'focus'];
const hideEvents = ['mouseleave', 'blur'];

showEvents.forEach((event) => {
  button.addEventListener(event, show);
  tooltip.addEventListener(event, show);
});

hideEvents.forEach((event) => {
  button.addEventListener(event, hide);
  tooltip.addEventListener(event, hide);
});
    </script>

!-->
