{% extends "main.html" %}
{% block title %}Additional OpenSearch{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<form class="" action="make_more_opensearch" method="post">
<div class="row align-items-start">
  <div class="col">
<div class="container" id="droparea">
<p class="h4">In order to add a new Opensearch, you'll need to provide some additional information.</p>

  <div id="opensearchsection">
    <label for="$#amount-of-opensearch#$">How many OpenSearch do you want?</label>
    <input type="number" name="$#how-many-opensearch#$" class="form-control ip-field" required="" id="$#amount-of-opensearch#$" min=2 max=10 onchange="variable_opensearch(this)" value=2>
    <br>
    <div id="box">
      <div id = "opensearchs">
        <label for="$#ip_field_opensearch-1#$">IP address of 1st OpenSearch</label>

        <input type="string" pattern="^([0-9]{1,3}(?:.[0-9]{1,3}){3}|[a-zA-Z]+)$" name="ip_field_opensearch-1" class="form-control ip-field" required="" id="$#ip_field_opensearch-1#$">
        <br>
        <label for="$#ip_field_opensearch-2#$">IP address of 2nd Opensearch</label>

        <input type="string" pattern="^([0-9]{1,3}(?:.[0-9]{1,3}){3}|[a-zA-Z]+)$" name="ip_field_opensearch-2" class="form-control ip-field" required="" id="$#ip_field_opensearch-2#$">
        <br>
      </div>
    </div>
    <br>
    <label for="$#LDAP#$">IP address of LDAP server</label>

    <input type="string" pattern="^([0-9]{1,3}(?:.[0-9]{1,3}){3}|[a-zA-Z]+)$" name="LDAP" class="form-control ip-field" required="" id="$#LDAP#$">
    <br>
    <label for="$#ldap-admin-pwd#$">LDAP admin password</label>

    <input type="password" name="$#ldap-admin-pwd#$" class="form-control" required="" id="$#ldap-admin-pwd#$">
    <br>
    <label for="$#opensearch-admin-pwd#$">Password for Opensearch</label>

    <input type="password" name="kibanauser-password" class="form-control ip-field" required="" id="$#opensearch-admin-pwd#$">
    <br>

    
    <label for="$#dashboard#$">IP address of the main service (Dashboard)</label>

    <input type="string" pattern="^([0-9]{1,3}(?:.[0-9]{1,3}){3}|[a-zA-Z]+)$" name="dashboard" class="form-control ip-field" required="" id="$#dashboard#$">
    <br>
    <label for="$#base-url#$">Base url of the service (EG: http://dashboard)</label>

    <input type="string"  name="dashboard" class="form-control" required="" id="$#base-url#$">
    <br>

  </div>
  <br>
  <input type="submit" value="Generate new configuration files" class="btn btn-primary">
  <label for="placeholderlist">Instead of filling all fields, you might load from file</label>
  <input type="file" name="placeholderlist" id="placeholderlist" class="btn btn-primary" accept=".tsv">
  <pre id="output" hidden="true"></pre>
</div>
</div>
</div>
</form>
<script type="text/javascript">

document.getElementById('placeholderlist').addEventListener('change', function() {

        	var fr=new FileReader();
        	fr.onload=function(){
            var s = fr.result.split('\n');
            var b = [];
            for (i in s) {
              b.push(s[i].split('\t'));
            }

            document.getElementById('$#ip_field_opensearch-1#$').value=b.find(element => element.includes("$#ip-nifi#$"))[1];
            document.getElementById('$#kibanauser-password#$').value=b.find(element => element.includes("$#kibanauser-password#$"))[1];
            document.getElementById('$#dashboard#$').value=b.find(element => element.includes("$#ip-0#$"))[1];
            //if the ldap server host is a string, we can assume it is located where we can find the dashboard
            if (b.find(element => element.includes("$#ldap-server-host#$"))[1] === "ldap-server")
            document.getElementById('$#LDAP#$').value=b.find(element => element.includes("$#ip-0#$"))[1];
            else document.getElementById('$#LDAP#$').value=b.find(element => element.includes("$#ldap-server-host#$"))[1];



        	}

        	fr.readAsText(this.files[0]);


        });
        function variable_opensearch(caller) {
          try {
            var x = document.getElementById("opensearchs");
            x.remove();
          }
        		catch(err) {
        			console.log('first time setting opensearchs?')
        		}
          var form = document.createElement("div");
          form.setAttribute('id','opensearchs');

          for (let i = 1; i<=caller.value; i++) {
            add_ip_field(i, form, 'opensearchs');
          }
          document.getElementById("box").appendChild(form);
        };
        function add_ip_field(number, form, type='default', value='') {
          var ip_field = document.createElement("input");
          ip_field.setAttribute("type", "string");
          ip_field.setAttribute("pattern", "^([0-9]{1,3}(?:\.[0-9]{1,3}){3}|[a-zA-Z]+)$");
          ip_field.setAttribute("name", "ip_field_opensearch-"+number);
          ip_field.setAttribute("class", "form-control ip-field");
          ip_field.required = true;
          var label_for_X = document.createElement("label");
          var string_of_field = "IP address of "+number+nth(number)+" OpenSearch"
          var label_text_X = document.createTextNode(string_of_field);
          ip_field.setAttribute("id", "$#ip_field_opensearch-"+number+"#$");
          label_for_X.setAttribute("for", "$#ip_field_opensearch-"+number+"#$");
          label_for_X.appendChild(label_text_X);
          form.append(label_for_X);
          form.append(label_text_X);
          form.append(ip_field);
          form.append(document.createElement("br"));
        };
      function nth(n){return["st","nd","rd"][((n+90)%100-10)%10-1]||"th";};

</script>
{% endblock %}
