{% extends "main.html" %}
{% block title %}SnapSentinel (Kubernetes){% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- data-bs-theme="dark" -->
<script>
	var donotupdate = false;
	var test_results;
	var test_results_divs = {};
	var data_tables = {};
	const extra_data_locations = [
		{%for item in extra_data%}['{{item[0]}}', '{{item[1]}}', '{{item[2]}}', '{{item[3]}}'],
		{% endfor %}
	];
	var less_columns = true;
	
	var dict_of_hidden_columns = {columnDefs:[{target: 0, visible: false},{target: 1, visible: false},{target: 2, visible: false},{target: 3, visible: false},{target: 4, visible: false},{target: 5, visible: false},{target: 7, visible: false},{target: 8, visible: false},{target: 10, visible: false},{target: 13, visible: false},{target: 14, visible: false}]};
	var container_rows = {};
	var iframes = {};
	var closed_categories = new Set();
	var logs_for_categories = {};
	var stored_pings_results = {};
	var button_data = [
		{%for element in extra%}
		{'data':`<div class="row align-items-start"><div class="col"><input type="button" name="{{element[1]}}" id="{{element[1]}}" value="{{element[1]}}" class="form-control" onclick="runComplexTests(this, '{{element[7]}}')" style="background: {{element[4]}}; color: {{element[6]}}"/>
				<div>{{element[5]|safe}}</div></div>
				{%if element[3] != None%}{% for element_2 in element[3].split(';') %}{% set parts = element_2.split(':') %}
					<input type="{{ parts[0] }}" id="{{ parts[2] }}-{{element[1]}}" name="{{ parts[2] }}" placeholder="{{parts[1]}}" class="form-control"></div>{% endfor %}{%endif%}
				<div class="col" id="{{element[1]}}-result">No data yet...</div></div>`, 'type':`{{element[7]|safe}}`},
		{%endfor%}
	];
	
	const lookupTable = {
		{%for item in categories%}'{{item[0]}}': ['{{item[1]}}','{{item[2]|safe}}','{{item[3]|safe}}'],
		{% endfor %}'nothing': 'nothing'
	};
	
	async function toggleUpdate() {
		if (donotupdate) {
			document.getElementById("buttonForUpdates").innerHTML = "Stop containers refresh";
			donotupdate = false;
		}
		else {
			document.getElementById("buttonForUpdates").innerHTML = "Resume containers refresh";
			donotupdate = true;
			await smartSleep(1800000);
			document.getElementById("buttonForUpdates").innerHTML = "Stop containers refresh";
			donotupdate = false;
		}
	}
	
	function smartSleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}
	
	$( function() {
		$( "#draggable" ).draggable({ cancel: "p.ui-widget-header" });
	} );
	
	
	
	$(document).ready(async function askcontainers() {
	{% block additional_content_admin_log_datatable_trigger %}{% endblock %}
	
	// Select the target div to observe
	const targetDiv = document.getElementById('floating-div');

	// Create a new instance of MutationObserver
	const observer = new MutationObserver((mutations) => {
		mutations.forEach((mutation) => {
			// Check if the mutation type is "childList" (addition or removal of child nodes)
			if (mutation.type === 'childList') {
				if (targetDiv.childNodes.length < 2) {
					document.getElementById('alerts').innerHTML = "No alerts to be shown";
					document.getElementById('alerts').onClick = "";
					targetDiv.style["display"] = "none";
				}
			}
		});
	});

	// Configure the observer to listen for child node changes
	const config = {
		childList: true, // Observe addition/removal of child elements
		subtree: true    // Observe all descendant nodes
	};

	// Start observing the target div for configured mutations
	observer.observe(targetDiv, config);

	// To stop observing, you can use observer.disconnect() later if needed

	
	$('.close').on('click', 
		function() {
			$('#passwordModal').modal('hide');
		});
		while (1) {
			if (!donotupdate) {
				update_routine();
			}
			await smartSleep(180000);
		}
	});
	
	async function get_muted_components() {
		try {
			$.ajax({
				url: './get_muted_components',
				type: 'GET',
				success: function(response) {
					response.forEach(current_item => {
						try {
							document.getElementById("mutebutton-"+current_item[1]).class="btn btn-warning";
							document.getElementById("mutebutton-"+current_item[1]).value="Currently muted";
							
						}
						catch (exception_var) {
							//nothing, this is fine
						}
					});
				},
				error: function(error) {
					console.log("Error!: "+error.statusText);
				}
			});
		}
		catch (exception_var) {
			console.log(exception_var);
		}
	}
	
	async function better_get_all_tests() {
		try {
			$.ajax({
				url: './test_all_ports',
				type: 'GET',
				success: function(response) {
					for (a in response) {
						try {
							if (a != "nothing") {
								test_results_divs[a]=response[a];
								document.getElementById(a+"-result").innerHTML=response[a];
								}
						}
						catch (exception_var) {
							//nothing, this is fine
						}
					}
				},
				error: function(error) {
					console.log("Error!: "+error.statusText);
				}
			});
		}
		catch (exception_var) {
			console.log(exception_var);
		}
	
	}
	
	async function update_routine() {
	
		var allTables = $.fn.dataTable.tables();
		delete allTables[0];
		$.each(allTables, function(index, table) { 
			testthisthingffs = structuredClone(dict_of_hidden_columns);
			testthisthingffs['destroy'] = true;
			var dataTable = $(table).DataTable(testthisthingffs);
		});
		getcontainersdb();
		testsResults();
		showTestResults();
		getcrons();
		$("table[id^='table-']").DataTable();
		document.getElementById("last-update").innerHTML = "Last update: " + new Date().toLocaleString();
		cg = colorGenerator();
		better_get_all_tests();
		const logs = document.querySelectorAll('p');
		logs.forEach(current_log => {
			if (current_log.id.endsWith("logs"))
			logs_for_categories[current_log.id]=current_log.innerHTML;
		});
		var see_logs = document.getElementById('see_logs');
		var lines = see_logs.innerHTML.split('<br>');
		get_muted_components();
		if (lines.length > 100) {
			lines = lines.slice(lines.length - 100);
			see_logs.innerHTML = lines.join('<br>');
		}
	};

	
	function getcontainersdb(){
		try {
			$.ajax({
				url: './read_containers_db',
				type: 'GET',
				success: function(response) {
					makeTable(response.result);
					if(response.error.length > 0)
						for (var a of response.error) {add_alert(a)};
				},
				error: function(error) {
					add_alert("Failed to contact the backend for the container status (db) with reason: "+error.statusText);
					logging("Failed to contact the backend for the container status (db) with reason: "+error.statusText);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
		
	};
	
	function getcontainers(){
		try {
			$.ajax({
				url: './advanced_read_containers',
				type: 'POST',
				success: function(response) {
					makeTable(response.result);
					if(response.error.length > 0)
						for (var a of response.error) {add_alert(a)};
				},
				error: function(error) {
					add_alert("Failed to contact the backend for the container status with reason: "+error.statusText);
					logging("Failed to contact the backend for the container status with reason: "+error.statusText);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
		
	};
	async function rebootContainer(containerID, element) {
		element.value = "Restarting...";
		try {
			logging(containerID+' received an attempted rebooting!', element.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.id+'-logs');
		}
		catch (exception_var) {
			logging(exception_var);
		}
		//make it look like the operation takes some time if it is too fast
		element.value = "Restart";
	};
	function testsResults() {
		try {
			$.ajax({
				url: './tests_results',
				type: 'POST',
				success: function(response) {
					setTestResults(response);
					},
				error: function(error) {
					add_alert("Failed to contact the backend for the tests results with reason: "+error.statusText);
					logging("Failed to contact the backend for the tests results with reason: "+error.statusText);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
	};

	function getcrons(){
		let a = []; 
		$.ajax({
			url: "./cronjobs", 
			type: "GET", 
			success: function(data, textStatus, jqXHR) {
				data.forEach(el => {
					try {
						let cronjobmsg = "";
						if (el[2]) {
							cronjobmsg = "At " + el[0] + " cronjob named " + el[3] + " resulted in: " + el[1] + "with some errors: " + el[2];
						}
						else {
							cronjobmsg = "At " + el[0] + " cronjob named " + el[3] + " resulted in: " + el[1] + "with no errors.";
						}
					}
					catch (exception_var) {
						console.log("Issue while printing cronjob log of " + el[3] + " in: " + el[5]+": " + el[1] + " - " + el[2])
					}
					});
				}
		});
	}
	
	function sendRequest(url_to_be_used, store_location) {
		try {
			$.ajax({
				url: './get_data_from_source',
				type: 'GET',
				data: {"url_of_resource":url_to_be_used},
				success: function(data, textStatus, jqXHR) {
					store_location.innerHTML = data;
					logging(data+ textStatus+ jqXHR);
					return;
				},
				error: function(jqXHR, textStatus, errorThrown) {
					logging(errorThrown+ textStatus+ jqXHR);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
	};
	
	function get_complex_tests(){
		try {
			$.ajax({
				url: './get_complex_tests',
				type: 'GET',
				success: function(response) {
					for (const element of response) {
						try {
							document.getElementById(element[3]+'-result').innerHTML=element[2];
						}
						catch (exception_var) {
							logging("Error in obtaining complex tests: "+ exception_var + ' - ' + element);
							add_alert("Error in obtaining complex tests: "+ exception_var + ' - ' + element);
						}
					}
					logging(response);
				},
				error: function(error) {
					add_alert("Failed to contact the backend for the complex tests results with reason: "+error.statusText);
					logging("Failed to contact the backend for the complex tests results with reason: "+error.statusText);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
	};
	
	async function runTests(container, element, location) {
		const currentTime = Date.now();
		const button = event.target;
		if (!button.lastExecutionTime) {
			button.lastExecutionTime = 0;
		}
		if (currentTime - button.lastExecutionTime >= 3000) {
			button.lastExecutionTime = currentTime;
		} else {
			alert("You cannot perform this action, wait a few seconds.");
			return;
		}
		element.value = "Checking the port...";
		document.getElementById(container+'-result').innerHTML= 'Pending... <svg width="12" height="12" style="vertical-align: middle;"><circle cx="6" cy="6" r="6" fill="yellow"/></svg>';
		try {
			$.ajax({
				url: './run_test',
				type: 'POST',
				data: {container: container},
				success: function(response) {
					if (response==="") response = "No test was found for this component."; 
					logging("<b>" + element.name + "</b> had its port checked and the result was: <b>"+response[0]+'</b><br>Complete response: ' + response[1] + '<hr>', location+'-logs');
					test_results[container] = response;
					stored_pings_results[container] = response;
				},
				error: function(error) {
					add_alert("Failed to contact the backend for the tests results with reason: "+error.statusText);
					logging("Failed to contact the backend for the tests results with reason: "+error.statusText);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
		element.value = "Check the port...";
	};
	
	function load_db() {
		try {
			$.ajax({
				url: './load_db',
				type: 'POST',
				success: function(response) {
					logging(response);
				},
				error: function(error) {
					add_alert("Failed to contact the backend for loading the db with reason: "+error.statusText);
					logging("Failed to contact the backend for loading the db with reason: "+error.statusText);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
	};
	
	async function runComplexTests(test_element, category) {
		const currentTime = Date.now();
		const button = event.target;
		if (!button.lastExecutionTime) {
			button.lastExecutionTime = 0;
		}
		if (currentTime - button.lastExecutionTime >= 3000) {
			button.lastExecutionTime = currentTime;
		} else {
			alert("You cannot perform this action, wait a few seconds.");
			return;
		}
		try {
			var oldtext = test_element.name;
			test_element.value = "Running " + test_element.value;
			document.getElementById(oldtext+'-result').innerHTML= 'Pending... <svg width="12" height="12" style="vertical-align: middle;"><circle cx="6" cy="6" r="6" fill="yellow"/></svg>';
			let test_family = test_element.parentElement.querySelectorAll('input');
			let test_name = test_family[0].value;
			let dict_to_be_sent = {};
			dict_to_be_sent['test_name'] = oldtext;
			test_family.forEach(el => {dict_to_be_sent[el.name]=el.value});
			delete dict_to_be_sent[test_element.name];
			$.ajax({
				url: './run_test_complex',
				type: 'POST',
				data: dict_to_be_sent,
				success: function(response) {
					logging(category + " - Complex test was ran: "+response, category+"-logs");
					document.getElementById(oldtext+'-result').innerHTML=response;
				},
				error: function(error) {
					logging(oldtext + " - " + error.statusText ,category+"-logs");
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
		test_element.value = oldtext;
	};
	
	function setTestResults(results) {
		test_results = results;
		try {
			test_results.forEach((element) => {
				test_results_divs[element[3]]=element[2];
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
	};
	
	function logging(logging_str, log_destination="see_logs") {
		if (log_destination==="") { 
			log_destination = "see_logs"; 
		}
		document.getElementById(log_destination).innerHTML += new Date().toLocaleString() + ' - ' + logging_str + '<br>';
		logs_for_categories[log_destination] += new Date().toLocaleString() + ' - ' + logging_str + "<br>";
		if (log_destination!="see_logs") { 
			document.getElementById("see_logs").innerHTML += new Date().toLocaleString() + ' - ' + logging_str + '<br>';
			logs_for_categories["see_logs"] += new Date().toLocaleString() + ' - ' + logging_str + "<br>";
		}
	};
	
	const buttons = document.querySelectorAll('input[type="button"]');
	
	async function getSummary() {
		try {
			$.ajax({
				url: './get_summary_status',
				type: 'GET',
				success: function(response) {
					for (const element of response) {
						try {
							document.getElementById(element[0]+'-status').innerHTML=element[0]+' - '+element[1];
							} 
						catch (e) {
							if (e instanceof TypeError) {
								return;
							}
							else {
								send_alert(exception_var);
								logging(exception_var);
							}
						}
		
					}
					logging(response);
				},
				error: function(error) {
					add_alert("Failed to contact the backend for summary results with reason: "+error.statusText);
					logging("Failed to contact the backend for summary results with reason: "+error.statusText);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
	};
	
	function getExtraData(url_of_resource, destination_element) {
		try {
			$.ajax({
				url: "./get_data_from_source",
				method: "GET",
				data: {url_of_resource: url_of_resource[1]},
				success: function(response) {
					renderContentInIframe(response, destination_element, url_of_resource[3]);
				},
				error: function(xhr, status, error) {
					var errorHtml = "<p>Error: Unable to fetch data from "+url_of_resource+" due to "+error+" with status "+status+"</p>";
					renderContentInIframe(errorHtml, destination_element);
				},
				timeout: {{timeout}}
			});
		}
		catch (exception_var) {
			console.error(exception_var);
		}
	};
	
	function alerts() {
		if (document.getElementById("alerts").innerHTML == "No alerts to be shown") 
			{return}
		var floatdiv = document.getElementById("floating-div");
		if (floatdiv.style["display"] == "none" || floatdiv.style["display"] == "") {
			floatdiv.style["display"] = "flex";
			document.getElementById("alerts").innerHTML = "Hide alerts";
		}
		else {
			floatdiv.style["display"] = "none";
			document.getElementById("alerts").innerHTML = "Show alerts";
		}
	}
	
	function add_alert(body) {
		var floatdiv = document.getElementById("floating-div");
		floatdiv.innerHTML+='<div class="alert my-alert alert-danger alert-dismissible" role="alert"><div>'+body+'</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
		if (document.getElementById("alerts").innerHTML == "No alerts to be shown") 
			{document.getElementById("alerts").innerHTML = "Show alerts";}
	}
	
	function renderContentInIframe(content, destination_element, description_data) {
		var iframe = document.createElement('iframe');
		iframe.setAttribute("style", "width: 100%; height: 450px;");
		var description = document.createElement('div');
		description.style="font-size: 1.5rem; margin-bottom: 0.5rem; text-align: center; display: inline-block; background-color: white; padding: 0 0.5rem; border-radius: 4px; position: relative; z-index: 1;";
		description.innerHTML = description_data;
		destination_element.appendChild(description);
		destination_element.appendChild(iframe);
		var doc = iframe.contentWindow.document;
		doc.open();
		doc.write(content);
		doc.close();
	};
	
	function showTestResults() {
		if (test_results==null) {
			return; //not set yet
		}
		logging(test_results);
		try {
			test_results.forEach((element)=> {
				try {
					document.getElementById(element[3]+'-result').innerHTML=element[2];
				}
				catch (exception_var) {
					logging('An orphan test with the name '+element[3]+' gave a result of: ' +element[2]);
					add_alert('An orphan test with the name '+element[3]+' gave a result of: ' +element[2]);
				} 
			}) 
		}
		catch (exception_var) {
			logging(exception_var);
			add_alert(exception_var);
		}
	};
	
	function getTestResult(container) {
		test_results.forEach((element)=> {
			try {
				if (element[3] == container) {
					document.getElementById[container].innerHTML=element[2];
				}
			}
			catch (exception_var) {
				console.error(exception_var);
				add_alert(exception_var);
			}
		})
		return container;
	};
	
	function createTable(headerData, rowData, name_of_table_value) {
		try {
			document.getElementById("table-"+name_of_table_value.replace(/\s+/g, '')).innerHTML="";
		}
		catch {
			//it's fine
		}
		const table = document.createElement("table");
		table.setAttribute("id", "table-"+name_of_table_value.replace(/\s+/g, ''));
		table.setAttribute("class", "table table-striped table-bordered");
		table.setAttribute("style", "table-layout: fixed; background-color: white;");
		const thead = document.createElement("thead");
		thead.setAttribute("class", "thead-dark");
		const tbody = document.createElement("tbody");
	
		const headerRow = document.createElement("tr");
		headerData.forEach(headerText => {
			const th = document.createElement("th");
			th.setAttribute("class", "column");
			th.textContent = headerText;
			headerRow.appendChild(th);
		});
		thead.appendChild(headerRow);
	
		rowData.forEach(rowValues => {
			if (container_rows[rowValues["Name"]]) {
				console.log("shouldn't update", rowValues["Name"]);
				tbody.appendChild(container_rows[rowValues["Name"]]);
				return;
			}
			const row = document.createElement("tr");
			row.setAttribute("name", rowValues["Name"]);			
			var elements = Object.values(rowValues);
			var index_of_below_array = 0;
			elements.forEach(cellData => {
				const td = document.createElement("td");
				if (index_of_below_array === 6) {
					var content_of_id_cell = '<a target="_blank" href="./container/'+elements[6]+'">'+cellData+'</a>';
					td.innerHTML = content_of_id_cell;
				}
				else if (index_of_below_array === 12) {
					var content_of_id_cell; 
					if ((cellData === "running" != (elements[6] === "certbot/certbot")) && !elements[12].includes('unhealthy'))
						content_of_id_cell = cellData + '<svg width="12" height="12" style="vertical-align: middle;"><circle cx="6" cy="6" r="6" fill="green"/></svg>';
						else content_of_id_cell = cellData + '<svg width="12" height="12" style="vertical-align: middle;"><circle cx="6" cy="6" r="6" fill="red"/></svg>';
					td.innerHTML = '<div id="'+elements[6]+'-reboot-result">'+content_of_id_cell+'</div>';
				}
				else {
					td.textContent = cellData;
				}
				row.appendChild(td);
				index_of_below_array = index_of_below_array + 1;
			});
			
			var rebootbutton = document.createElement("td");
			rebootbutton.innerHTML=`<button type="button" class="btn btn-primary open-modal" data-toggle="modal" data-target="#passwordModal" data-containerid="`+elements[6]+`" data-containercategory="`+name_of_table_value+`">Reboot</button>`;
			row.appendChild(rebootbutton);
			var testsbutton = document.createElement("td");
			testsbutton.innerHTML=`<input type="button" name="`+elements[6]+`" value="Check the port..." class="btn btn-info" onclick="runTests('`+elements[6]+`', this, '`+name_of_table_value+`')"/>`;
			row.appendChild(testsbutton);
			tbody.appendChild(row);
			var testresults = document.createElement("td");
			testresults.setAttribute('id',elements[6]+'-result');

			var some_value;
			for (const key in lookupTable) {
				if (rowValues["Name"].startsWith(key.replace('*', ''))) {
					some_value = lookupTable[key];
				break;
				}
			}
			if (!some_value) some_value = ["","Failure to retrieve contacts", "Failure to retrieve location"];
			

			var in_case_of_problems = document.createElement("td");
			in_case_of_problems.innerHTML=some_value[1];
			
			var location_of_component = document.createElement("td");
			location_of_component.innerHTML=some_value[2];
			in_case_of_problems.innerHTML=some_value[1];

			row.appendChild(testresults);
			row.appendChild(in_case_of_problems);
				
			var do_not_update_this_td = document.createElement("td");
			var do_not_update_this = document.createElement("input");
			do_not_update_this.setAttribute("onclick", "toggle_update_this_line(this)");
			do_not_update_this.setAttribute("class", "btn btn-info");
			do_not_update_this.setAttribute("type", "button");
			do_not_update_this.setAttribute("value", "Stop refreshing");
			do_not_update_this_td.appendChild(do_not_update_this);
			do_not_update_this_td.innerHTML+='<button type="button" class="btn btn-primary open-modal-m" data-toggle="modal" data-containercategory="'+name_of_table_value+'" data-target="#muteComponent" data-containerid="'+elements[12]+'" id="mutebutton-'+elements[12]+'">Mute</button>';
			row.appendChild(do_not_update_this_td);
			tbody.appendChild(row);
			testresults.innerHTML=test_results_divs[row.childNodes[7].innerHTML];
			if (testresults.innerHTML == "undefined") {
				testresults.innerHTML = "No tests found";
			}
		});
	
		table.appendChild(thead);
		table.appendChild(tbody);
		const box = document.createElement("div");
		box.setAttribute("class", "p-5 text-center");
		box.setAttribute("style", "border-radius: 3rem; background-color: "+cg.next().value)
		const name_of_table = document.createElement("h1");
		name_of_table.setAttribute("class", "text-body-emphasis");
		name_of_table.innerHTML = name_of_table_value;
		box.appendChild(name_of_table);
		box.appendChild(table);
		return table;
	};
	
	function makeTable(containerdata) {
		const headerData = ["Container ID", "Created at", "ID", "Image", "Labels", "Mounts", "Name", "Names", "Namespace", "Node", "Ports", "Running For", "State", "Status", "Volumes", "Restart", "Is alive port test", "Last test results", "Contacts", "Operations"];
		
		const tableContainer = document.getElementById("table-container");
		tableContainer.setAttribute("style", "display: flex; flex-wrap: wrap;")
		tableContainer.innerText="";
		containerdata.sort((a, b) => {
			const nameA = a.Name.toUpperCase();
			const nameB = b.Name.toUpperCase();
			if (nameA < nameB) {
				return -1;
			}
			if (nameA > nameB) {
				return 1;
			}
				return 0;
			}
		);
		const categorizedData = {};
		
		containerdata.forEach(item => {
			const name = item.Name;
			let category = 'Unknown';
			for (const key in lookupTable) {
				if (name.startsWith(key.replace('*', ''))) {
					category = lookupTable[key][0];
					break;
				}
			}
			if (!categorizedData[category]) {
				categorizedData[category] = [];
			}
			categorizedData[category].push(item);
		});
		
		
		const cg = colorGenerator();
		var something = Object.keys(categorizedData).sort();
		document.getElementById("category_menu").innerHTML="";
		jQuery.each(something, function (item, val_2) {
			var val = categorizedData[val_2];
			var i = val_2;
			const box = document.createElement("div");
			box.setAttribute("class", "p-5 text-center");
			box.setAttribute("style", "border-radius: 1.2rem; background-color: "+cg.next().value);
			box.setAttribute("id",i);
			if (!closed_categories.has(i)) box.style.display = "none"; else box.style.display = "block";
				const centerer = document.createElement("div");
				centerer.setAttribute("name", i);
				const name_of_table = document.createElement("h1");
				if (!closed_categories.has(i)) 
					name_of_table.setAttribute("class", "btn btn-dark btn-lg button-cat"); 
				else 
					name_of_table.setAttribute("class", "btn btn-light btn-lg button-cat");
				name_of_table.setAttribute("onclick", "collapse_category('"+i+"', this)");
				name_of_table.setAttribute("id", i+"-status");
				name_of_table.setAttribute("title", "");
				name_of_table.setAttribute("data-html","true")
				name_of_table.setAttribute("data-toggle","tooltip");
				name_of_table.innerHTML = i;
				var menupage = document.getElementById("category_menu");
				menupage.appendChild(name_of_table);
				var div_for_category_name = document.createElement("h1");
				div_for_category_name.innerHTML=i;
				tableContainer.appendChild(centerer);
				box.appendChild(div_for_category_name);
				box.appendChild(createTable(headerData, val, i));
				let a = 'table-'+i.replace(/\s+/g, '');
				const parser = new DOMParser();
				extra_data_locations.filter(innerArray => innerArray[0] === i).forEach(innerArray => {
					getExtraData(innerArray, box);
				});
				if (add_complex_test_table_depending_on_category(i)) {
					const complex_tests = document.createElement("div");
					complex_tests.setAttribute("style", "background-color: white; text-wrap: pretty; line-break: anywhere;");
					complex_tests.setAttribute()
					complex_tests.innerHTML=add_complex_test_table_depending_on_category(i);
					box.appendChild(complex_tests);
				}
				centerer.appendChild(box);
				const category_logs = document.createElement("p");
				category_logs.setAttribute("id", i+"-logs");
				category_logs.setAttribute("class", "ui-widget-header");
				category_logs.setAttribute("style", "text-align: left; min-height: 250px;");
				box.appendChild(category_logs);
				if (logs_for_categories[i+"-logs"]) category_logs.innerHTML=logs_for_categories[i+"-logs"];
			
			else console.log("Skipped unmanaged containers");
			
			});
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');

		// Loop through and dispose any existing instance
		tooltipTriggerList.forEach(el => {
		const existingInstance = bootstrap.Tooltip.getInstance(el);
		if (existingInstance) {
			existingInstance.dispose();
		}
		// Create a new instance
		new bootstrap.Tooltip(el);
		});
		data_tables=$("table[id^='table-']").DataTable(dict_of_hidden_columns);
		get_summary_new();
		get_complex_tests();
		who_has_issues();
		
		$('.open-modal').on('click', function() {
			var id = $(this).data('containerid');
			var category = $(this).data('containercategory');
			$('#containeridmodal').val(id);
			$('#containercategorymodal').val(category);
			$('#passwordModal').modal('show');
		});
		
		$('.open-modal-m').on('click', function() {
			var category = $(this).data('containercategory');
			$('#containercategorymodalmuted').val(category);
			var id = $(this).data('containerid');
			$('#containeridmodalMute').val(id);
			$('#muteComponent').modal('show');
		});
		
		

		$('#muteContainer').on('click', function() {
			var password = $('#passwordInputMute').val();
			var id = $('#containeridmodalMute').val();
			var category = $('#containercategorymodalmuted').val();
			var current_date = new Date();
			current_date.setTime(current_date.getTime()+($('#time-selection').val()*60*60*1000))
			var muted_until = formatDateForMysql(current_date);
			if (password) {
				try {
					$.ajax({
						url: './mute_component_by_hours',
						data: {id: id, psw: password, hours: $('#time-selection').val()},
						type: 'POST',
						success: function(response) {
							if ($('#time-selection').val() == 0) {
								logging('<b>' + id + "</b> was unmuted!", category+"-logs");
								$('#muteComponent').modal('hide');
							}
							else {
								logging('<b>' + id + "</b> was muted for"+$('#time-selection').val()+" hours!", category+"-logs");
								$('#muteComponent').modal('hide');
							}
						},
						error: function(error) {
							if ($('#time-selection').val() == 0) {
								logging('<b>' + id + "</b> was not unmuted! Reason: " + error.responseText, category+"-logs");
								$('#muteComponent').modal('hide');
							}
							else {
								logging('<b>' + id + "</b> was not muted! Reason: " + error.responseText, category+"-logs");
								$('#muteComponent').modal('hide');
							}
						},
						timeout: {{timeout}}
					});
				}
				catch (exception_var) {
					console.log(exception_var);
				}
			}
			else {
				alert('Please enter a password');
			}
		});			
	};
	
	function attempt_reboot() {
			var password = $('#passwordInput').val();
			var id = $('#containeridmodal').val();
			var category = $('#containercategorymodal').val();
			var result_loc = document.getElementById(id+"-reboot-result");
			result_loc.innerHTML='Rebooting... <svg width="12" height="12" style="vertical-align: middle;"><circle cx="6" cy="6" r="6" fill="yellow"/></svg>';
			var string = new Date().toLocaleString();
			if (password) {
				try {
					$.ajax({
						url: './reboot_container',
						data: {id: id, psw: password},
						type: 'POST',
						success: function(response) {
							logging('<b>' + id + "</b> was rebooted!", category+"-logs");
							$('#passwordModal').modal('hide');
							if (id.includes('proxy')) {
								alert("By restarting the proxy, you will lose connection to the Snap4Sentinel backend. By closing this alert, you will reload the page.");
								location.reload();
							}
						},
						error: function(error) {
							logging('<b>' + id + "</b> was not rebooted! Reason: " + error, category+"-logs");
							$('#passwordModal').modal('hide');
						},
						timeout: {{timeout}}
					});
				}
				catch (exception_var) {
					console.log(exception_var);
				}
			}
			else {
				alert('Please enter a password');
			}
		};
	
	async function who_has_issues() {
		var allTables = $.fn.dataTable.tables();
		delete allTables[0];
		$.each(allTables, function(index, table) {
			if (index===0) return;
			var dataTable = $(table).DataTable();
			var hasFailure = false;
			var columnData = dataTable.column(17).data().toArray();
			for (var i = 0; i < columnData.length; i++)
				{
				if (typeof columnData[i] === 'string' && columnData[i].includes("Failure")) {
					document.getElementById(table.parentElement.parentElement.parentElement.parentElement.id+"-status").setAttribute("title", document.getElementById(table.parentElement.parentElement.parentElement.parentElement.id+"-status").getAttribute("title") + "Issue with " + dataTable.column(7).data().toArray()[i] + "<br>");
					hasFailure = true;
					break;
				}
			}
			if (hasFailure) {
				document.getElementById(table.parentElement.parentElement.parentElement.parentElement.id+"-status").innerHTML+=' <svg width="12" height="12"><rect width="12" height="12" fill="red" /></svg>';
			} else {
				document.getElementById(table.parentElement.parentElement.parentElement.parentElement.id+"-status").innerHTML+=' <svg width="12" height="12"><rect width="12" height="12" fill="green" /></svg>';
			}
			//dataTable.destroy();
		});
	};
	
	async function get_summary_new() {
		var allTables = $.fn.dataTable.tables();
		delete allTables[0];
		$.each(allTables, function(index, table) {
			if (index===0) return;
			var dataTable = $(table).DataTable();
			var isNotRunning = true;
			var columnData = dataTable.column(12).data().toArray();
			for (var i = 0; i < columnData.length; i++)
				{
				if (typeof columnData[i] === 'string' && !columnData[i].includes("running")) {
					isNotRunning = false;
					break;
				}
			}
			if (isNotRunning) {
				document.getElementById(table.parentElement.parentElement.parentElement.parentElement.id+"-status").innerHTML+=' <svg width="12" height="12" style="vertical-align: middle;"><circle cx="6" cy="6" r="6" fill="green"/></svg>';
			} 
			else {
				document.getElementById(table.parentElement.parentElement.parentElement.parentElement.id+"-status").innerHTML+=' <svg width="12" height="12" style="vertical-align: middle;"><circle cx="6" cy="6" r="6" fill="red"/></svg>';
			}
		});
	};
	
	function toggle_update_this_line(component) {
		if (container_rows[component.parentElement.parentElement.getAttribute("name")]) {
			delete container_rows[component.parentElement.parentElement.getAttribute("name")];
			component.value = "Stop refresh";
		}
		else {
			component.value = "Resume refresh";
			container_rows[component.parentElement.parentElement.getAttribute("name")] = component.parentElement.parentElement;
		}
		console.log("flipped", component.parentElement.parentElement.getAttribute("name"));
	};
		
	function collapse_category(category_element_id, button) {
		let relative_table = "table-"+category_element_id;
		element=document.getElementById(category_element_id);
		if (element.style.display === "none") {
			button.className="btn btn-light btn-lg button-cat";
			element.style.display = "block";
			closed_categories.add(category_element_id);
		} 
		else {
			button.className="btn btn-dark btn-lg button-cat";
			element.style.display = "none";
			closed_categories.delete(category_element_id);
		}
		update_routine();
	};
	
	
	function toggle_hide_extra_columns(button) {
		less_columns = !less_columns;
		if (less_columns) {
			button.innerHTML = "Show additional columns";
			dict_of_hidden_columns={columnDefs:[{target: 0, visible: false},{target: 1, visible: false},{target: 2, visible: false},{target: 3, visible: false},{target: 4, visible: false},{target: 5, visible: false},{target: 7, visible: false},{target: 8, visible: false},{target: 10, visible: false},{target: 13, visible: false},{target: 14, visible: false}]};
		}
		else {
			dict_of_hidden_columns={retrieve: true};
			button.innerHTML = "Hide additional columns";
		}
		update_routine();
	};
	
	function add_complex_test_table_depending_on_category(category) {
		var final_str = "";
		button_data.forEach((element) => {
			if (element["type"] === category) {final_str += element["data"]};
		});
		return final_str;
	};
	
	function formatDateForMysql(date) {
		const year = date.getFullYear();
		const month = (date.getMonth() + 1).toString().padStart(2, '0');
		const day = date.getDate().toString().padStart(2, '0');
		const hours = date.getHours().toString().padStart(2, '0');
		const minutes = date.getMinutes().toString().padStart(2, '0');
		const seconds = date.getSeconds().toString().padStart(2, '0');
		return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
	}
		
	function* colorGenerator() {
		const colors = ['#00abff', '#cf71ff', '#fff466', '#3cb032', '#ff8a38'];
		let index = 0;
		
		while (true) {
			yield colors[index % colors.length];
			index++;
		}
	};
	
	{% block additional_content_code %}{% endblock %}
</script>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="flex-direction: column;width:100%;">
	<div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="navbar-brand">{{platform}}</a>
			</li>
		</ul>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="navbar-brand">Snap4Sentinel (Kubernetes): Platform Process Monitoring and Control</a>
			</li>
		</ul>
		<ul class="dropdown" style="margin-top: auto; margin-bottom: auto;">
			<button class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Show administrative actions</button>
			<ul class="dropdown-menu" style="padding: 10px;">
				<li class="nav-item active">
					<form action="deauthenticate" method="GET">
						<input type="submit" class="btn btn-info" value="Logout" />
					</form>
				</li>
				<li class="nav-item active">
					<form action="generate_pdf" method="GET">
						<input type="submit" class="btn btn-info" value="Generate full logs" />
					</form>
				</li>
				<li class="nav-item active">
					<form action="cronjobs" method="GET">
						<input type="submit" class="btn btn-info" value="Experimental read cronjobs" />
					</form>
				</li>
				{% block additional_content_certification %}{% endblock %}
			</ul>
		</ul>
		<ul class="dropdown" style="margin-top: auto; margin-bottom: auto;">
			<ul class="navbar-nav mr-auto">
				<button class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Show operational actions</button>
				<ul class="dropdown-menu" style="padding: 10px;">
					<li class="nav-item">
						<button id="buttonForUpdates" class="btn btn-danger" onClick="toggleUpdate()">Stop refresh</button>
					</li>
					<li class="nav-item">
						<button id="updatenow" class="btn btn-danger" onClick="update_routine()">Refresh now</button>
					</li>
					<li class="nav-item">
						<button id="toggle_columns" class="btn btn-danger" onClick="toggle_hide_extra_columns(this)">Show unimportant columns</button>
					</li>
					<li class="nav-item">
						<button id="open_top" class="btn btn-danger" onClick="window.open('./get_top')">View host resource usage</button>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li class="nav-item">
					<div id="last-update" class="nav-link"></div>
					</li>
				</ul>
			</ul>
			
		</ul>
	</div>
	<div>
		<div id="category_menu" class="category_menu container-fluid">
		</div>
	</div>	

	
</nav>
<div id="output" class="main">
	<br>

<div id="table-container">
<h1 style="text-align: center;">Loading, please wait...</h1>
</div>

<div class="modal fade" id="muteComponent" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="passwordModalLabel">Confirmation for muting a container</h5>
				<button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#muteComponent').modal('hide')">
					<span aria-hidden="true">X</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="muteComponent">
					<div class="form-group">
						<label for="passwordInputMute">Password</label>
						<input type="password" class="form-control" id="passwordInputMute" autocomplete="current-password" required>
					</div>
					<div class="form-group">
						<label for="containeridmodalMute">Container ID</label>
						<input type="text" class="form-control" id="containeridmodalMute" readonly>
					</div>
					<label for="time-selection">Select time duration:</label>
					<select id="time-selection" name="time-selection" class="form-select">
						<option value="0">Unmute</option>
						<option value="1">1 hour</option>
						<option value="4">4 hours</option>
						<option value="8">8 hours</option>
						<option value="24">24 hours</option>
						<option value="72">72 hours</option>
					</select>
					<div class="form-group">
						<input type="text" class="form-control" id="containercategorymodalmuted" readonly hidden>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#muteComponent').modal('hide')">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="muteContainer">Mute component</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="passwordModalLabel">Confirmation for rebooting container</h5>
				<button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#passwordModal').modal('hide')">
					<span aria-hidden="true">X</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="passwordForm">
					<div class="form-group">
						<label for="passwordInput">Password</label>
						<input type="password" class="form-control" id="passwordInput" autocomplete="current-password" required>
					</div>
					<div class="form-group">
						<label for="containeridmodal">Container ID</label>
						<input type="text" class="form-control" id="containeridmodal" readonly>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="containercategorymodal" readonly hidden>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="attemptReboot" onClick="attempt_reboot()">Attempt Reboot</button>
			</div>
		</div>
	</div>
</div>
<div id="notDraggable" class="ui-widget-content">
	<p>Console Log</p>
	<p class="ui-widget-header" id="see_logs"></p>
</div>
{% block additional_content_admin_log %}{% endblock %}
<nav class="navbar sticky-bottom bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand"><button id="alerts" class="btn btn-danger" onClick="alerts()">No alerts to be shown</button></a>
		<a class="navbar-brand">Welcome, {{user}}</a>
		<a class="navbar-brand" href="mailto: replaceme">Need help? Send us an Email!</a>
		<a class="navbar-brand" href="#">
			<img src="./{{ url_for('static', filename = 'snap4.png') }}" alt="Logo" width="80px" class="d-inline-block align-text-top">
		</a>
	</div>
</nav>

    <div class="floating-div" id="floating-div">
    </div>
<style>
	.tooltip-inner {
	user-select: text;
	}
	table th, table td {
	max-width: 200px;
	overflow: auto;
	}
	.main {
	position:relative;
	}
	.ui-widget-header {
    color: white;
    background-color: #1e1e1e;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
	overflow: scroll;
	max-height: 300px;
	}
	#draggable { max-width: 700px; max-height: 300px; padding: 0.5em; float: left; margin: 0 10px 10px 0; border-style: solid; border-color: blue; background: white;}
	#draggable p { cursor: move; }
	.floating-div {
			display: none;
            position: fixed;
            bottom: 2cm;
            left: 1cm;
            padding: 20px;
            color: white;
            border-radius: 10px;
        }
	.my-alert {
			background-color: #f8d7d2e0;
			margin-right: 10px;
	}
	.button-cat {margin-right: 5px; margin-left: 5px}
</style>
{% endblock %}